/* questions and reminders i have*/
body{
	font-family: Arial, Verdana; 
    background-color: #000000;
    color: #ffffff; /* why do you not have to do style = color: */
    margin-top: 20px;
	margin-left: 20px; 
	margin-right: 20px;
}

h1{
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

h2{ /*confused why no combinator here bc h2 is within div so shouldnt it be div h2*/
    color: #0D0D0D;
    font-size: 30px;
}

p{ /*do i need to do the combinators to make all paragraphs this way*/
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
	width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* got this online -- ask gsi if thats ok? nvr learned to center or is this considered cheating */
    border: 10px dashed #ffffff;
}

div{
    min-height: 125px; /*unsure if flexible is acknowledged here*/
    padding: 20px;
    border: 3px solid #ffffff;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2; /* did not use px here bc made them overlap????*/
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-top: 0px solid #ffffff;

}

.blue{ /* waved my page to change paragraph and h2 text to C4C4C4 but do i change on my code to make permanent*/
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    border-left: 0px solid #ffffff; /*why did it only work when i set bottom and left to 0??? // is it bc i added solid and white bc they werent there before*/

}

.blue h2{
    color: #C4C4C4;
}
.blue p{
    color: #C4C4C4;
}

.yellow{
    background-color: #ff0;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
}

.yellow p{
    color: #707070;
}

.green{ 
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 0px solid #ffffffte;
    border-left: 0px solid #ffffff;

}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    border: 5px solid #ffffff;
}

footer p{
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}

